h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

body {
    background-color:#F5F5DC;
  }


main {
  background-color: white;
  margin: 0 auto;
  max-width: 65vw;
  padding: 20px;
}

#addTask div {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  max-width: 300px;

}

#myTasks div {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}